ul#stats{
  li {
    display: flex;
    margin-bottom: 8px;
    text-transform: uppercase;

    align-items: center;

    div.stat-title{
      width: 10%;
      font-weight: bold;
    }
    div.stat-value {
      width: 10%;
      text-align: center;
    }
    div.stat-bar {
      width: 80%;
      height: 10px;

      background: rgba($color: #4f4f4f, $alpha: .2);

      border-radius: 5px;

      div.stat-progress {
        border-radius: 5px;
        background: #4f4f4f;
        height: 100%;
        width: 0;
        z-index: 2;
      }
    }
  }
}

ul#weaknesses{
  display: grid;
  grid-template-columns: repeat(3, 6fr);
  grid-gap: 20px;
}

ul#abilities{
  display: flex;
  flex-direction: column;
}
