@import url('https://fonts.googleapis.com/css?family=Avenir&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Avenir;
}

body {
  background: linear-gradient(90.32deg, #6E95FD -5.81%, #6FDEFA 30.72%, #8DE061 73.39%, #51E85E 112.14%);
  box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  #background{
    height: 100%;
    background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(27.1828px);
  }
}

body, input, button {
  font: 14px Avenir, sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 50px 50px;

  li {
    list-style: none;
  }
}

button {
  cursor: pointer
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  border: .2px solid #4f4f4f;

  margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 10px;
}
