div#home-container {
  height: calc(100vh - 100px);

  display: flex;
  justify-content: space-around;

  div#pokedex-container{
    overflow: auto;
    behavior: 'smooth';

    border-radius: 15px;
    padding: 15px;
    background-color: #FFF;
    width: 65%;

    transition: height .5s ease;
    ul#pokedex {
      display: grid;
      grid-template-columns: repeat(6, 6fr);
      grid-gap: 20px;

      margin-top: 20px;
    }

    div#pokedex-footer {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
